<h1 class="m-4 text-2xl font-bold">Technical test Front-End RedSquare</h1>

<div class="ml-2 mb-12 w-full flex justify-start">
  <button
    [routerLink]="['/products']"
    class="bg-gray-100 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"
  >
    <svg
      class="w-4 h-4 mr-2"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 19.5 8.25 12l7.5-7.5"
      />
    </svg>

    <span>Back</span>
  </button>
</div>

<div class="p-4 flex flex-col items-center justify-center">
  <div class="bg-gray-100 border p-4 rounded-md shadow-md">
    <div class="mx-auto flex-col w-72 items-center justify-center">
      <div class="flex overflow-x-auto space-x-4">
        <div *ngFor="let productImage of product.images" class="flex-shrink-0">
          <img
            [src]="productImage"
            alt="Product Image"
            class="w-72 h-72 object-contain mb-4"
          />
        </div>
      </div>
    </div>

    <h2 class="text-lg font-semibold">{{ product.title }}</h2>
    <p class="text-gray-600">{{ product.description }}</p>
    <p class="text-green-600 font-bold mt-2">Price: ${{ product.price }}</p>
    <p class="text-gray-600">Rating: {{ product.rating }}</p>
    <p class="text-gray-600">Stock: {{ product.stock }}</p>
    <p class="text-gray-600">Brand: {{ product.brand }}</p>
    <p class="text-gray-600">Category: {{ product.category }}</p>

    <button
      (click)="addToCart(product)"
      class="flex justify-center my-4 bg-blue-500 hover:bg-blue-700 w-full text-white font-bold py-2 px-4 rounded"
    >
      Add to cart
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
        />
      </svg>
    </button>
  </div>
</div>
